@import "tailwindcss";
*
{
    font-family: Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar
{
  width: 6px;
  background-color: black;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb
{
  background-color: gray;
  border-radius: 10px;
}

#CorpoDashboard hr
{
 color: white;
}
#NoticiasFuria::-webkit-scrollbar
{
  height: 7px;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes GirarComponent {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes GirarContrario {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

@keyframes AparecerMenu {
  from
  {
    left: -400px;
  }
  to
  {
    left: 0;
  }
  
}

@keyframes FechaMenu {
  from
  {
    left: 0px;
    opacity: 1;  }
  to
  {
    left: -400px;
    opacity: 0;
  }
  
}

.animate-menu
{
  animation: AparecerMenu 1s ease-in-out;
}

.animate-fecha-menu
{
  animation: FechaMenu 1s ease-in-out;
  opacity: 0;
}

.animate-open
{
  animation: GirarComponent 0.5s ease-in;
}
.animate-close
{
  animation: GirarContrario 0.5s ease-in;
}

.animate-fadeInRight {
  animation: fadeInRight 0.4s ease-out forwards;
}
  
.animate-fadeInLeft {
  animation: fadeInLeft 0.4s ease-out forwards;
}

.sombra {
  transition: all 0.3s ease; 
}

.sombra:hover {
  transform: scale(1.05); 
  box-shadow: 2px 2px 12px 5px white; 
}
.completo
{
  box-shadow: 2px 2px 12px 5px white; 
}

